a{
	outline: none;
	img{
		border: none;
	}
}


.container{
	>.content{
		@include make-row;
			> h2.heading{
				@include make-md-column(12);
				margin: 0 0 30px;
				font: bold 18px $font_main;
				color: $heading_color;
				position: relative;
				line-height: 30px;
				text-indent: 14px;
				> span{
					margin-left: 15px;
					display: inline-block;
					width: 8px;
					height: 30px;
					background: $heading_tarja_color;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
	}
}
.sprite_servicos{
	background-image: url('../images/sprite-servicos.png');
	background-repeat: no-repeat;
}