body{
	>footer{
		background-color: #333;
		padding: 20px 0 0px;
		>.container{
			padding-bottom: 95px;
		}
		#footer-sidebar{
			>.footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);

				>h4.footer__title{
					position: relative;
					margin: 12px 0;
					height: 36px;
					font: bold 22px $font_main;
					color: #fff;
					text-indent: 12px;
					padding-top: 3px;
					>span{
						position: absolute;
						top: 0;
						left: 0;
						width: 4px;
						height: 36px;
						background: #C72327;
					}
				}
				>p{
					color: #777;
					font: bold 11px $font_main;
				}
				>ul#fotos{
					list-style: none;
					padding: 0;
					>li{
						float: left;
						display: inline;
						width: 30%;
						margin: 0 5% 5% 0;
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						margin: 20px 0 0;
						text-indent: 1.2;
					}
				}
			}
		}
		>#redes-sociais{
			background: #555;
			padding: 10px 0;
			#redes-sociais__container{
				@include make-xs-column(12);
				@include make-sm-column(12);
				@include make-md-column(12);
				>ul#redes-sociais__icons{
					float: right;
					margin-bottom: 0;
					>li{
						display: inline;
						float: left;
						margin-right: 5px;
						>a.icon{
							display: block;
							@extend .sprite_redes_sociais;
							&,
							&:hover{
								transition: all 0.2s linear;
							}
							&.icon--facebook{
								@include sprite-define(32px, 32px, -5px, -131px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -89px);
								}
							}
							&.icon--twitter{
								@include sprite-define(32px, 32px, -5px, -551px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -509px);
								}
							}
							&.icon--youtube{
								@include sprite-define(32px, 32px, -5px, -719px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -677px);
								}
							}
							&.icon--gplus{
								@include sprite-define(32px, 32px, -5px, -299px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -257px);
								}
							}
							&.icon--devianart{
								@include sprite-define(32px, 32px, -5px, -47px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -5px);
								}
							}
							&.icon--flickr{
								@include sprite-define(32px, 32px, -5px, -215px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -173px);
								}
							}
							&.icon--rss{
								@include sprite-define(32px, 32px, -5px, -383px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -341px);
								}
							}
							&.icon--share{
								@include sprite-define(32px, 32px, -5px, -467px);
								&:hover{
									@include sprite-define(32px, 32px, -5px, -425px);
								}
							}
						}
					}
					:last-child{
						margin-right: 0;
					}
				}
			}
		}
	}
}