body{
	>footer{
		background-color: #333;
		padding: 20px 0 95px;
		#footer-sidebar{
			>.footer-widget{
				@include make-xs-column(12);
				@include make-sm-column(4);
				@include make-md-column(4);
				>h4.footer__title{
					>span{

					}
				}
				>p{
					color: #777;
					font: bold 11px $font_main;
				}
				&.footer-widget--about{
					a{
						display: block;
						width: 60%;
					}
					p{
						width: 75%;
						margin: 20px 0 0;
						text-indent: 1.2;
					}
				}
			}
		}
	}
}