body{
	> header{
		padding: 25px 0;
		>.content{
			@include make-row;
			>.logo-container{
				@include make-md-column(3);
				>.logo-container__logo{
					@include make-md-column(10);
				}
			}
			>.search-container{
				@include make-md-column(4);
				@include make-md-column-offset(5);
			}
		}
		input.form-control{
			height: 45px;
			font: 13px $font_main;
			color: #CCCCCC;
			margin-top: 7px;
			border: 1px solid #DDDDDD;
		}
	}
}